html {
    text-align: center;
    margin:0;
    font-size: 150%;
}
.carouselslide {
    display: inline-flex;
    height: 130px;
    width: 100%;
}

.nav > a {
    display: inline-block;
    background-color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    border: 1px solid black;
}
#british {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
    }
.contenedorAll {
    background-color: transparent;
    display: block;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 15px;
}
.contenedor {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 14px;
}
.contenedor > iframe {
    border-radius: 15px;
}
