body {
    background-image: url("img/listaff.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size:cover;
    height:100vh;
}
li {
    display:table-cell;
}
nav, scroll-container{
    display:block;
    margin:auto auto;
    text-align:center;
}
nav{
    width:auto;
    padding:5px;
    border: 1px;
}
scroll-container{
    display:block;
    width: auto;
    height: 70vh;
    overflow-y:scroll;
    scroll-behavior:smooth;
}
.menuhorizontal{
    margin-top:50px;
    margin-bottom:50px;
}
img {
    max-width:250px;
    max-height:250px;
}
audio {
    width:25%;
}
audio:hover {
    width:100%;
    transition:0.3s;
}
.tarjeta {
    height:auto;
    width: 300px;
    text-align:center;
    background:white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.tarjeta:hover {
    opacity:calc(0.88);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding:50px;
}
.contenedor {
    padding: 2px 16px;
}
